[Unit]
Description=Horloge Mobatime
After=multi-user.target
 
[Service]
Type=simple
WorkingDirectory=/home/dietpi/mobatime
User=dietpi
ExecStart=/usr/bin/python3 /home/dietpi/mobatime/mobatime.py
Restart=on-failure
TimeoutStopSec=60
 
[Install]
WantedBy=multi-user.target
